In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
delivery = pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv')

In [3]:
delivery.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [5]:
delivery_bkup = delivery.copy()

In [6]:
delivery.drop(['batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 
       'non_boundary', 'player_out', 'kind',
       'fielders_involved'], axis = 1 , inplace = True)

In [7]:
delivery.head(2)

,ID,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam
0,1312200,1,0,1,0,0,Rajasthan Royals
1,1312200,1,0,2,1,0,Rajasthan Royals

In [8]:
matches = pd.read_csv('IPL_Matches_2008_2022.csv')

In [9]:
matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [11]:
matches_bkup = matches.copy()

In [12]:
matches.drop(['MatchNumber', 
        'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'], axis = 1, inplace = True)

In [13]:
matches.head()

,ID,City,Date,Season,Team1,Team2,Venue
0,1312200,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad"
1,1312199,Ahmedabad,2022-05-27,2022,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad"
2,1312198,Kolkata,2022-05-25,2022,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata"
3,1312197,Kolkata,2022-05-24,2022,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata"
4,1304116,Mumbai,2022-05-22,2022,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai"

In [14]:
df = delivery.merge(matches, on = 'ID')

In [15]:
df.head(2)

,ID,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,City,Date,Season,Team1,Team2,Venue
0,1312200,1,0,1,0,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad"
1,1312200,1,0,2,1,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad"

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225954 entries, 0 to 225953
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                225954 non-null  int64
 1   innings           225954 non-null  int64
 2   overs             225954 non-null  int64
 3   ballnumber        225954 non-null  int64
 4   total_run         225954 non-null  int64
 5   isWicketDelivery  225954 non-null  int64
 6   BattingTeam       225954 non-null  object
 7   City              213557 non-null  object
 8   Date              225954 non-null  object
 9   Season            225954 non-null  object
 10  Team1             225954 non-null  object
 11  Team2             225954 non-null  object
 12  Venue             225954 non-null  object
dtypes: int64(6), object(7)
memory usage: 24.1+ MB

In [17]:
df.isnull().sum()

ID                      0
innings                 0
overs                   0
ballnumber              0
total_run               0
isWicketDelivery        0
BattingTeam             0
City                12397
Date                    0
Season                  0
Team1                   0
Team2                   0
Venue                   0
dtype: int64

In [18]:
df.duplicated().sum()

0

In [19]:
df['BowlingTeam'] = df['BattingTeam']
df.loc[df['BattingTeam'] == df['Team1'], 'BowlingTeam'] = df['Team2']
df.loc[df['BattingTeam'] == df['Team2'], 'BowlingTeam'] = df['Team1']

In [20]:
df.head()

,ID,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,City,Date,Season,Team1,Team2,Venue,BowlingTeam
0,1312200,1,0,1,0,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
1,1312200,1,0,2,1,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
2,1312200,1,0,3,1,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
3,1312200,1,0,4,0,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
4,1312200,1,0,5,0,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans

In [21]:
df.drop(['Team1','Team2'], axis = 1, inplace = True)

In [22]:
df.head(2)

,ID,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,City,Date,Season,Venue,BowlingTeam
0,1312200,1,0,1,0,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
1,1312200,1,0,2,1,0,Rajasthan Royals,Ahmedabad,2022-05-29,2022,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans

In [23]:
df['BattingTeam'].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Daredevils', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [24]:
df['BattingTeam'] = df['BattingTeam'].replace(to_replace='Kings XI Punjab', value='Punjab Kings')
df['BattingTeam'] = df['BattingTeam'].replace(to_replace='Delhi Daredevils', value='Delhi Capitals')
df['BowlingTeam'] = df['BowlingTeam'].replace(to_replace='Kings XI Punjab', value='Punjab Kings')
df['BowlingTeam'] = df['BowlingTeam'].replace(to_replace='Delhi Daredevils', value='Delhi Capitals')

In [25]:
df['BattingTeam'].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [26]:
old_teams = ['Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala']

In [27]:
df = df[~(df['BattingTeam'].isin(old_teams) | df['BowlingTeam'].isin(old_teams))]

In [28]:
df['innings'].value_counts()

1    94160
2    87753
3       72
4       64
5        8
6        4
Name: innings, dtype: int64

In [29]:
df = df[df['innings'] == 1]

In [30]:
df['overs'].value_counts()

0     4807
1     4807
2     4767
4     4752
3     4746
5     4739
6     4729
7     4711
9     4702
8     4697
16    4695
17    4693
12    4688
14    4683
11    4676
15    4674
18    4668
10    4667
13    4665
19    4594
Name: overs, dtype: int64

In [31]:
df['City'].value_counts()

Mumbai            16775
Kolkata            8543
Delhi              8115
Chennai            7313
Bangalore          6371
Chandigarh         5840
Jaipur             5091
Hyderabad          4916
Abu Dhabi          4565
Pune               2995
Ahmedabad          2217
Bengaluru          1761
Dubai              1623
Durban             1480
Sharjah            1245
Navi Mumbai        1133
Centurion           993
Visakhapatnam       990
Dharamsala          867
Port Elizabeth      746
Ranchi              716
Indore              715
Johannesburg        619
Raipur              614
Cape Town           573
Cuttack             372
East London         256
Bloemfontein        251
Kimberley           122
Name: City, dtype: int64

In [32]:
df['Venue'].unique()

array(['Narendra Modi Stadium, Ahmedabad', 'Eden Gardens, Kolkata',
       'Wankhede Stadium, Mumbai', 'Brabourne Stadium, Mumbai',
       'Dr DY Patil Sports Academy, Mumbai',
       'Maharashtra Cricket Association Stadium, Pune',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Zayed Cricket Stadium, Abu Dhabi', 'Arun Jaitley Stadium, Delhi',
       'MA Chidambaram Stadium, Chepauk, Chennai', 'Sheikh Zayed Stadium',
       'Rajiv Gandhi International Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'MA Chidambaram Stadium', 'Wankhede Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'M.Chinnaswamy Stadium', 'Arun Jaitley Stadium', 'Eden Gardens',
       'Sawai Mansingh Stadium',
       'Maharashtra Cricket Association Stadium',
       'Holkar Cricket Stadium', 'M Chinnaswamy Stadium',
       'Feroz Shah Kotla',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Brabourne Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Barabati Stadium', 'Himachal Pradesh Cricket Association Stadium',
       'Subrata Roy Sahara Stadium', 'Dr DY Patil Sports Academy',
       'New Wanderers Stadium', 'SuperSport Park', 'Kingsmead',
       'OUTsurance Oval', "St George's Park", 'De Beers Diamond Oval',
       'Buffalo Park', 'Newlands'], dtype=object)

In [33]:
city_venue = df.groupby(['City','Venue']).size().reset_index().drop(columns = [0])

In [34]:
city_venue

              City                                              Venue
0        Abu Dhabi                               Sheikh Zayed Stadium
1        Abu Dhabi                   Zayed Cricket Stadium, Abu Dhabi
2        Ahmedabad                   Narendra Modi Stadium, Ahmedabad
3        Ahmedabad                       Sardar Patel Stadium, Motera
4        Bangalore                              M Chinnaswamy Stadium
5        Bengaluru                              M.Chinnaswamy Stadium
6     Bloemfontein                                    OUTsurance Oval
7        Cape Town                                           Newlands
8        Centurion                                    SuperSport Park
9       Chandigarh       Punjab Cricket Association IS Bindra Stadium
10      Chandigarh  Punjab Cricket Association IS Bindra Stadium, ...
11      Chandigarh         Punjab Cricket Association Stadium, Mohali
12         Chennai                             MA Chidambaram Stadium
13         Chennai                    MA Chidambaram Stadium, Chepauk
14         Chennai           MA Chidambaram Stadium, Chepauk, Chennai
15         Cuttack                                   Barabati Stadium
16           Delhi                               Arun Jaitley Stadium
17           Delhi                        Arun Jaitley Stadium, Delhi
18           Delhi                                   Feroz Shah Kotla
19      Dharamsala       Himachal Pradesh Cricket Association Stadium
20           Dubai                Dubai International Cricket Stadium
21          Durban                                          Kingsmead
22     East London                                       Buffalo Park
23       Hyderabad                 Rajiv Gandhi International Stadium
24       Hyderabad          Rajiv Gandhi International Stadium, Uppal
25          Indore                             Holkar Cricket Stadium
26          Jaipur                             Sawai Mansingh Stadium
27    Johannesburg                              New Wanderers Stadium
28       Kimberley                              De Beers Diamond Oval
29         Kolkata                                       Eden Gardens
30         Kolkata                              Eden Gardens, Kolkata
31          Mumbai                                  Brabourne Stadium
32          Mumbai                          Brabourne Stadium, Mumbai
33          Mumbai                         Dr DY Patil Sports Academy
34          Mumbai                 Dr DY Patil Sports Academy, Mumbai
35          Mumbai                                   Wankhede Stadium
36          Mumbai                           Wankhede Stadium, Mumbai
37     Navi Mumbai                 Dr DY Patil Sports Academy, Mumbai
38  Port Elizabeth                                   St George's Park
39            Pune            Maharashtra Cricket Association Stadium
40            Pune      Maharashtra Cricket Association Stadium, Pune
41            Pune                         Subrata Roy Sahara Stadium
42          Raipur   Shaheed Veer Narayan Singh International Stadium
43          Ranchi                 JSCA International Stadium Complex
44         Sharjah                            Sharjah Cricket Stadium
45   Visakhapatnam  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...

In [35]:
df['City'].replace(to_replace = 'Bengaluru', value = 'Bangalore', inplace = True)

In [36]:
df.loc[df['Venue'].isin(['Dr DY Patil Sports Academy', 'Dr DY Patil Sports Academy, Mumbai']), ['City']] = 'Navi Mumbai'

In [37]:
df.loc[df['Venue'].isin(['Brabourne Stadium', 'Brabourne Stadium, Mumbai']), ['City']] = 'Mumbai(Brabourne)'

In [46]:
a = pd.DataFrame(df.groupby(['City','Venue']).size().reset_index().drop(columns = [0]))

In [47]:
a = a[['Venue','City']]

In [59]:
a_dict = dict(a.values)

In [60]:
a_dict

{'Sheikh Zayed Stadium': 'Abu Dhabi',
 'Zayed Cricket Stadium, Abu Dhabi': 'Abu Dhabi',
 'Narendra Modi Stadium, Ahmedabad': 'Ahmedabad',
 'Sardar Patel Stadium, Motera': 'Ahmedabad',
 'M Chinnaswamy Stadium': 'Bangalore',
 'M.Chinnaswamy Stadium': 'Bangalore',
 'OUTsurance Oval': 'Bloemfontein',
 'Newlands': 'Cape Town',
 'SuperSport Park': 'Centurion',
 'Punjab Cricket Association IS Bindra Stadium': 'Chandigarh',
 'Punjab Cricket Association IS Bindra Stadium, Mohali': 'Chandigarh',
 'Punjab Cricket Association Stadium, Mohali': 'Chandigarh',
 'MA Chidambaram Stadium': 'Chennai',
 'MA Chidambaram Stadium, Chepauk': 'Chennai',
 'MA Chidambaram Stadium, Chepauk, Chennai': 'Chennai',
 'Barabati Stadium': 'Cuttack',
 'Arun Jaitley Stadium': 'Delhi',
 'Arun Jaitley Stadium, Delhi': 'Delhi',
 'Feroz Shah Kotla': 'Delhi',
 'Himachal Pradesh Cricket Association Stadium': 'Dharamsala',
 'Dubai International Cricket Stadium': 'Dubai',
 'Kingsmead': 'Durban',
 'Buffalo Park': 'East London',
 'Rajiv Gandhi International Stadium': 'Hyderabad',
 'Rajiv Gandhi International Stadium, Uppal': 'Hyderabad',
 'Holkar Cricket Stadium': 'Indore',
 'Sawai Mansingh Stadium': 'Jaipur',
 'New Wanderers Stadium': 'Johannesburg',
 'De Beers Diamond Oval': 'Kimberley',
 'Eden Gardens': 'Kolkata',
 'Eden Gardens, Kolkata': 'Kolkata',
 'Wankhede Stadium': 'Mumbai',
 'Wankhede Stadium, Mumbai': 'Mumbai',
 'Brabourne Stadium': 'Mumbai(Brabourne)',
 'Brabourne Stadium, Mumbai': 'Mumbai(Brabourne)',
 'Dr DY Patil Sports Academy': 'Navi Mumbai',
 'Dr DY Patil Sports Academy, Mumbai': 'Navi Mumbai',
 "St George's Park": 'Port Elizabeth',
 'Maharashtra Cricket Association Stadium': 'Pune',
 'Maharashtra Cricket Association Stadium, Pune': 'Pune',
 'Subrata Roy Sahara Stadium': 'Pune',
 'Shaheed Veer Narayan Singh International Stadium': 'Raipur',
 'JSCA International Stadium Complex': 'Ranchi',
 'Sharjah Cricket Stadium': 'Sharjah',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 'Visakhapatnam'}

In [61]:
city = np.where(df['City'].isnull(), df['Venue'].map(a_dict), df['City'])

In [73]:
df['City'] = city

In [74]:
df['City'].isnull().sum()

0

In [76]:
df['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Mumbai(Brabourne)',
       'Navi Mumbai', 'Pune', 'Dubai', 'Sharjah', 'Abu Dhabi', 'Delhi',
       'Chennai', 'Hyderabad', 'Visakhapatnam', 'Chandigarh', 'Bangalore',
       'Jaipur', 'Indore', 'Raipur', 'Ranchi', 'Cuttack', 'Dharamsala',
       'Johannesburg', 'Centurion', 'Durban', 'Bloemfontein',
       'Port Elizabeth', 'Kimberley', 'East London', 'Cape Town'],
      dtype=object)

In [77]:
df.drop(['Date','Season','Venue'], axis = 1, inplace = True)

In [78]:
df.head()

,ID,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,City,BowlingTeam
0,1312200,1,0,1,0,0,Rajasthan Royals,Ahmedabad,Gujarat Titans
1,1312200,1,0,2,1,0,Rajasthan Royals,Ahmedabad,Gujarat Titans
2,1312200,1,0,3,1,0,Rajasthan Royals,Ahmedabad,Gujarat Titans
3,1312200,1,0,4,0,0,Rajasthan Royals,Ahmedabad,Gujarat Titans
4,1312200,1,0,5,0,0,Rajasthan Royals,Ahmedabad,Gujarat Titans

In [79]:
df['current_score'] = df.groupby(['ID']).cumsum()['total_run']

In [80]:
df['wickets'] = df.groupby(['ID']).cumsum()['isWicketDelivery']

In [81]:
df['balls_bowled'] = df['overs']*6 + df['ballnumber']

In [82]:
df['balls_left'] = 120 - df['balls_bowled']

In [83]:
df['wickets_left'] = 10 - df['wickets']

In [84]:
cs = df.groupby(['ID'])['current_score'].max().reset_index()

In [85]:
df = df.merge(cs, on = ['ID'])

In [86]:
df.rename(columns = {'current_score_y':'final_score', 'current_score_x':'current_score'}, inplace = True)

In [87]:
df.head()

,ID,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,City,BowlingTeam,current_score,wickets,balls_bowled,balls_left,wickets_left,final_score
0,1312200,1,0,1,0,0,Rajasthan Royals,Ahmedabad,Gujarat Titans,0,0,1,119,10,130
1,1312200,1,0,2,1,0,Rajasthan Royals,Ahmedabad,Gujarat Titans,1,0,2,118,10,130
2,1312200,1,0,3,1,0,Rajasthan Royals,Ahmedabad,Gujarat Titans,2,0,3,117,10,130
3,1312200,1,0,4,0,0,Rajasthan Royals,Ahmedabad,Gujarat Titans,2,0,4,116,10,130
4,1312200,1,0,5,0,0,Rajasthan Royals,Ahmedabad,Gujarat Titans,2,0,5,115,10,130

In [88]:
df['run_rate'] = df['current_score'] * 6 / df['balls_bowled']

In [89]:
groups = df.groupby('ID')

match_ids = df['ID'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['total_run'].values.tolist())

In [90]:
df['last5_runs'] = last_five

In [91]:
df = df[~(df['overs'].isin([0,1,2,3,4]))]

In [92]:
df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'total_run', 'isWicketDelivery',
       'BattingTeam', 'City', 'BowlingTeam', 'current_score', 'wickets',
       'balls_bowled', 'balls_left', 'wickets_left', 'final_score', 'run_rate',
       'last5_runs'],
      dtype='object')

In [93]:
df.drop(columns = ['ID', 'innings', 'overs', 'ballnumber', 'total_run', 'isWicketDelivery','wickets',
       'balls_bowled'], axis = 1, inplace = True)

C:\Users\Aman\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [94]:
df.head(2)

,BattingTeam,City,BowlingTeam,current_score,balls_left,wickets_left,final_score,run_rate,last5_runs
30,Rajasthan Royals,Ahmedabad,Gujarat Titans,41,89,9,130,7.935484,41.0
31,Rajasthan Royals,Ahmedabad,Gujarat Titans,42,88,9,130,7.875000,41.0

In [95]:
df = df[['BattingTeam', 'BowlingTeam', 'City', 'current_score', 'balls_left', 'wickets_left', 'run_rate', 'last5_runs', 'final_score']]

In [96]:
df.head()

,BattingTeam,BowlingTeam,City,current_score,balls_left,wickets_left,run_rate,last5_runs,final_score
30,Rajasthan Royals,Gujarat Titans,Ahmedabad,41,89,9,7.935484,41.0,130
31,Rajasthan Royals,Gujarat Titans,Ahmedabad,42,88,9,7.875000,41.0,130
32,Rajasthan Royals,Gujarat Titans,Ahmedabad,43,87,9,7.818182,41.0,130
33,Rajasthan Royals,Gujarat Titans,Ahmedabad,43,86,9,7.588235,41.0,130
34,Rajasthan Royals,Gujarat Titans,Ahmedabad,44,85,9,7.542857,42.0,130

In [97]:
df.isnull().sum()

BattingTeam      0
BowlingTeam      0
City             0
current_score    0
balls_left       0
wickets_left     0
run_rate         0
last5_runs       0
final_score      0
dtype: int64

In [98]:
X = df.drop(columns = 'final_score', axis = 1)

In [99]:
y = df['final_score']

In [100]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [102]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.4-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: numpy in c:\users\aman\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Requirement already satisfied: scipy in c:\users\aman\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.4

In [103]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [104]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])
]
,remainder='passthrough')

In [105]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [106]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9727687017635841
2.474659453994003

In [107]:
import pickle

In [108]:
pickle.dump(pipe, open('pipe.pkl', 'wb'))